.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.chart-item {
  flex: 1 1 calc(33% - 20px);
  margin: 10px;
  max-width: 400px;
}

.chart-item canvas {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 768px) {
  .chart-item {
    flex: 1 1 100%;
  }
}